
* {
  margin: 0 auto;
  text-align: center;
  font-family: 'Special Elite', cursive;
  box-sizing: border-box;
}

body {
  background-color: #E7DFD2;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  max-width: 1024px;
}

p {
  font-family: 'Roboto Slab', serif;
  letter-spacing: .25px;
  margin: 15px auto;
  text-align: left;
}

.second-box {
  display: flex;
  flex-direction: column;
}

.img-container {
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icons {
  display: flex;
  flex-direction: row;
  max-width: 100px;
}

@media(min-width:1024px){
  .second-box {
    display: flex;
    flex-direction: row;
  }
}